$color-one: #1B3260;
$color-two: #0B6A86;
$color-three: #4c4f54;
$color-four: #F5F5F5;

body {
    padding: 0;
    margin: 0;
    font-family: "Quicksand";
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
}

nav {
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    float: none;
    text-align: center;

    ul {
        display: inline-block;
        margin: 0 auto;
        li {
            a {
                color: black !important;
                font-weight: bold;
                font-size: 25px;
            }
        }
    }

    i {
        color: black;
    }
}

hr {
    border: 1px solid black;
    width: 35%;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: $color-one;
    text-align: center;
    padding: 25px 0;
    font-size: 1em;
    color: rgba(208,208,208,0.5);
}

.container {
    width: 100%;
    margin-top: 30px;
}

#pattern-bar {
    background-image: url(images/bar.jpg);
    background-size: auto 100%;
    height: 60px;
}


#home {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        margin-top: 0;
    }

    #sam {
        padding: 7px;
        border: 2px solid #989797;
        border-radius: 5px;
    }

    #bio {
        #text-content {
            margin: 0 20px 0 20px;
        } 

        p {
            font-size: 1.3em;
        }
    }

    @media only screen and (max-width: 600px) {
        .container {
            margin-top: 0;
        }

        #sam {
            padding: 25px;
            border: none;
        }
    }
}

#collections {
    h1 {
        margin-left: 7.5px;
    }

    .card-container {
        display: inline-block;
    }

    .card {
        display: inline-block;
        margin: 0.5em;
        width: 350px;
        overflow: hidden !important;
    }

    @media only screen and (max-width: 600px) {
        h1 {
            margin-top: 0;
            margin-left: 0;
            text-align: center;
        }
        .card {
            left: 50%;
            transform: translate(-50%,0);
            margin: 0 0 15px 0;
        }

        .container {
            margin-top: 0;
        }
    }
}

#show-collection {
    #thumbs {
        // display: flex;
        // flex-direction: row;
        margin-bottom: 50px;
    }

    .thumb-container {
        display: inline-block;
        // Used to use this to center the thumb images, but it was causing
        // weird positioning. Might come back to figure it out someday though.
        // justify-content: center;
        // align-items: center;
        overflow: hidden;
        width: 200px;
        height: 150px;
        margin: 0 2px;
    }

    .photo-thumb {
        max-width: 300px;
        max-height: 300px;
    }

    .modal {
        outline: none;
        top: 16%;
        width: auto;
    }

    @media only screen and (max-width: 600px) {
        h1, p, #thumbs {
            text-align: center;
        }

        h1 {
            margin-top: 0;
        }

        p {
            margin: 0 2% 20px
        }

        .container {
            margin-top: 0;
        }

        .thumb-container {
            width: 45%;
            margin: 1%;
        }

        .modal {
            max-width: 95%;
            top: 50% !important;
            transform: translateY(-50%) !important;
        }

    }
}

#contact {
    h1 {
        margin-left: 22.5px;
    }

    input, textarea {
        border-bottom: 1px solid $color-three;
    }

    .btn {
        background-color: $color-three;
        color: white;
        font-weight: bold;
        border: 1px solid black;
    }

    .btn:hover {
        background: black;
        color: white;
    }

    .input-field input:focus, .input-field textarea:focus {
        background-color: rgba(27, 50, 96, 0.05);
        color: black;
        padding-left: 10px;
        border-bottom: 1px solid gray;
    }

    .input-field input[type=text]:focus + label, 
    .input-field input[type=email]:focus + label,
    .input-field textarea:focus + label {
        color: $color-three;
    }

    .input-field input[type=text]:focus,
    .input-field input[type=email]:focus,
    .input-field textarea:focus {
        border-bottom: 1px solid $color-three;
        box-shadow: 0 1px 0 0 $color-three;
    }

    .input-field>label {
        color: $color-three;
        font-size: 1.2rem;
        font-weight: bold;
    }
}